DB_URL=
DB_USERNAME=
DB_PASSWORD=
API_VERSION=
APP_NAME=
APPLICATION_PORT=
JWT_SECRET_KEY=
REFRESH_ACCESS_TOKEN=
REFRESH_TOKEN_EXPIRATION=
ACCESS_TOKEN_EXPIRATION=
STRIPE_API_KEY=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URL=
FIREBASE_TOKEN_URL=
FIREBASE_CERT_URL=
HOST=
HOST_PORT=
USERNAME=
PASSWORD=